.container {
  margin-top: 30px;
  background-color: #fff;
  border-radius: 30px;
  box-shadow: 0 5px 15px 1px rgba(0, 0, 0, .9);
  position: relative;
  overflow: hidden;
  width: 768px;
  max-width: 100%;
  min-height: 480px;
}